{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans 'Password reset complete' %}{% endblock %}

{% block content %}
<div class = "password-reset">
	{% for error in form.email.errors %}
		<div class = "alert alert-error">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<h4>Erro!&nbsp;</h4><p class = "error-msg">{{ error }}</p>
		</div>
	{% endfor %}
	<div class = "box-wrap">
		<div class = "top">
			<p class = "title">{% trans 'Password reset' %}</p>
		</div>
		<div class = "fields">
			<div class = "legend">
				<p class = "line-1">{% trans 'Password reset complete' %}!</p>
				<p class = "line-2">
					{% trans "Your password has been set.  You may go ahead and log in now." %}</p>
			</div>
			<div class = "back-btn">
				<a href = "/">voltar</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}