{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block content %}
<div class = "password-reset">
	<div class = "box-wrap">
		<div class = "top">
			<p class = "title">{% trans 'Password reset' %}</p>
		</div>
		<div class = "fields">
			<div class = "legend">
				<p class = "line-1">{% trans 'Password reset successful' %}!</p>
				<p class = "line-2">
					Enviamos as instruções de como definir sua nova senha para o e-mail que você informou. 
					<br /><br />
					Você deverá recebê-las em breve.</p>
			</div>
			<div class = "back-btn">
				<a href = "/">voltar</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}