{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block content %}
<div class = "password-reset">
	{% for error in form.errors %}
		<script type="text/javascript">
			$(document).ready(function(){
				if($('.alert').length == 0){
					$('.box-wrap').before('<div class = "alert alert-error">'+
																			 	 	'<button type="button" class="close" data-dismiss="alert">×</button>'+
																					'<h4>Erro!&nbsp;</h4><p class = "error-msg">Por favor, verifique os campos abaixo.</p>'+
																			'</div>');
				}
			});
		</script>
	{% endfor %}
	<div class = "box-wrap">
		<div class = "top">
			<p class = "title">{% trans 'Password reset' %}</p>
		</div>
		<div class = "fields">
			{% if validlink %}
					<div class = "legend">
						<p class = "line-1">{% trans 'Enter new password' %}</p>
						<p class = "line-2">
							{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}
						</p>
					</div>
					<form action="" method="post">{% csrf_token %}
						<label for="id_new_password1">
							{% trans 'New password:' %}
						</label><input type="password" name="new_password1" id="new_password1" {% if form.new_password1.errors %}class = "input-error"{% endif %} />
						<label for="id_new_password2">
							{% trans 'Confirm password:' %}
						</label><input type="password" name="new_password2" id="new_password1" {% if form.new_password2.errors %}class = "input-error"{% endif %} />
						<input type="submit" class = "btn-next-green" value = "" />
					</form>
			{% else %}
				<h1>{% trans 'Password reset unsuccessful' %}</h1>
				<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
			{% endif %}
			<div class = "back-btn">
				<a href = "/">voltar</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}